---
http_interactions:
- request:
    method: get
    uri: https://ad.doubleclick.net/ddm/pfadx/N7313.1933103ELTORO/B9480814.129356516;sz=0x0;ord=%5Btimestamp%5D;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;dcmt=text/xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <VAST xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vast.xsd" version="2.0">
         <Ad id="302282085">
          <InLine>
           <AdSystem>DCM</AdSystem>
           <AdTitle>In-Stream Video</AdTitle>
           <Error><![CDATA[https://pagead2.googlesyndication.com/pagead/gen_204?id=xfa_video_error&aid=302282085&cid=69050297&advid=5402889]]></Error>
           <Impression><![CDATA[https://googleads4.g.doubleclick.net/pcs/view?xai=AKAOjssrYaCblDTs3_Az76zk1nEfUFqpRbxM8Irr2ncQqqUfUhC3c9MtZvfwaENkNKQ4I5WVo6mgJCo&sig=Cg0ArKJSzAqFXxJgOZTXEAE&urlfix=1&adurl=]]></Impression>
           <Creatives>
            <Creative id="69050297" sequence="1">
             <Linear>
              <Duration>00:00:30</Duration>
              <TrackingEvents>
               <Tracking event="start"><![CDATA[https://ad.doubleclick.net/ddm/activity/dc_oe=ChMIq9HPzMDGzwIVDbWzCh1laAGsEAAYACC5v_Yg;met=1;ecn1=1;etm1=0;eid1=11;]]></Tracking>
               <Tracking event="firstQuartile"><![CDATA[https://ad.doubleclick.net/ddm/activity/dc_oe=ChMIq9HPzMDGzwIVDbWzCh1laAGsEAAYACC5v_Yg;met=1;ecn1=1;etm1=0;eid1=960584;]]></Tracking>
               <Tracking event="midpoint"><![CDATA[https://ad.doubleclick.net/ddm/activity/dc_oe=ChMIq9HPzMDGzwIVDbWzCh1laAGsEAAYACC5v_Yg;met=1;ecn1=1;etm1=0[...]
