---
http_interactions:
- request:
    method: get
    uri: https://vast.brandads.net/vast?line_item=13796381&subid1=vpaidjsonly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <VAST version="2.0"><Ad id="brandads_ad_10000000_13796381_449272_1003689_0"><InLine><AdSystem
        version="1.0">Brandads AdServer</AdSystem><AdTitle>Power the World of Video</AdTitle><Description>ISCI:POWERTHEWORLDH</Description><Impression><![CDATA[https://beacons.brandads.net/cp-imp?cid=24482&creative_id=1003689&line_item=13796381&er_ts=1473886048&session_id=HYDpI7nfsiTFJQLuuuB6ng1473886048&er_fp=52eeffc21e85f544&subid1=vpaidjsonly&trust=07699e70-dcc4-449d-aea0-a271c1187186&tsubid3=85395]]></Impression><Creatives><Creative
        id="brandads_creative_1003689" AdID="brandads_creative_1003689" sequence="1"><Linear><Duration>00:00:15</Duration><TrackingEvents><Tracking
        event="start"><![CDATA[https://beacons.brandads.net/duration?cid=24482&creative_id=1003689&line_item=13796381&er_ts=1473886048&session_id=HYDpI7nfsiTFJQLuuuB6ng1473886048&er_fp=52eeffc21e85f544&subid1=vpaidjsonly&percent=0]]></Tracking><Tracking
        event="firstQuartile"><![CDATA[https://beacons.brandads.net/duration?cid=24482&creative_id=1003689&line_item=13796381&er_ts=1473886048&session_id=HYDpI7nfsiTFJQLuuuB6ng1473886048&er_fp=52eeffc21e85f544&subid1=vpaidjsonly&percent=.25]]></Tracking><Tracking
        event="midpoint"><![CDATA[https://beacons.brandads.net/duration?cid=24482&creative_id=1003689&line_item=13796381&er_ts=1473886048&session_id=HYDpI7nfsiTFJQLuuuB6ng1473886048&er_fp=52eeffc21e85f544&subid1=vpaidjsonly&percent=.5]]></Tracking><Tracking
        event="thirdQuartile"><![CDATA[https://beacons.brandads.net/duration?cid=24482&creative_id=1003689&line_item=13796381&er_ts=1473886048&session_id=HYDpI7nfsiTFJQLuuuB6ng1473886048&er_fp=52eeffc21e85f544&subid1=vpaidjsonly&percent=.75]]></Tracking><Tracking
        event="complete"><![CDATA[https://beacons.brandads.net/duration?cid=24482&creative_id=1003689&line_item=13796381&er_ts=1473886048&session_id=HYDpI7nfsiTFJQLuuuB6ng1473886048&er_fp=52eeffc21e85f544&subid1=vpaidjsonly&percent=1]]></Tracking></TrackingEvents><AdParameters><![CDATA[{"com":"cid=24482&creative_id=1003689&line_item=13796381&er_ts=1473886048&session_id=HYDpI7nfsiTFJQLuuuB6ng1473886048&er_fp=52eeffc21e85f544&subid1=vpaidjsonly","clk":"http://www.extremereach.com","vDur":15,"videos":[{"url":"https://d2290ppie00mze.cloudfront.net/media/2112/9018/07699e70-dcc4-449d-aea0-a271c1187186/8f2793e5-ef29-40b3-9801-b246218fef85.mp4","mimetype":"video/mp4","duration":15},{"url":"https://d2290ppie00mze.cloudfront.net/media/2112/9018/07699e70-dcc4-449d-aea0-a271c1187186/97184acd-6aa9-42d8-98ed-95805e692bfb.flv","mimetype":"video/x-flv","duration":15}],"ssl":"1"}]]></AdParameters><VideoClicks><ClickThrough><![CDATA[http://www.extremereach.com]]></ClickThrough><ClickTracking
        id="vct"><![CDATA[https://beacons.brandads.net/click?cid=24482&creative_id=1003689&line_item=13796381&er_ts=1473886048&session_id=HYDpI7nfsiTFJQLuuuB6ng1473886048&er_fp=52eeffc21e85f544&subid1=vpaidjsonly]]></ClickTracking></VideoClicks><MediaFiles><MediaFile
        width="640" height="360" type="application/javascript" delivery="progressive"
        apiFramework="VPAID"><![CDATA[https://d2f8tie0ouoft.cloudfront.net/vpaid-js/20160811-181900.js]]></MediaFile></MediaFiles></Linear></Creative></Creatives></InLine></Ad></VAST>
  recorded_at: Wed, 14 Sep 2016 20:47:28 GMT
recorded_with: VCR 3.0.3
