---
http_interactions:
- request:
    method: get
    uri: https://vast.brandads.net/vast?ba_cb=__RANDOM_NUMBER__&line_item=13822255
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <VAST version="2.0"><Ad id="brandads_ad_10000000_13822255_486680_8973018_17483"><InLine><AdSystem
        version="1.0">Brandads AdServer</AdSystem><AdTitle>0871-_CHW1-6010-5_D_H</AdTitle><Description>ISCI:0871CHW160105DH</Description><Impression><![CDATA[https://beacons.brandads.net/cp-imp?cid=24676&creative_id=8973018&line_item=13822255&er_ts=1473889687&session_id=jOJMbjaKDrxmqvyBRAgBPn1473889687&er_fp=52eeffc21e85f544]]></Impression><Impression><![CDATA[https://ad.doubleclick.net/ddm/trackimp/N6344.1836134SAMSUNGELECTRONICSS/B10294605.137723828;dc_trk_aid=310057397;dc_trk_cid=74064225;ord=1473889687;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?]]></Impression><Impression><![CDATA[https://sb.scorecardresearch.com/p?c1=3&c2=22068128&c3=24676&c4=8973018&c5=13822255&c6=&c10=1&c11=85395&c13=[SIZE]&c16=XTR&cj=1&ax_fwd=1&rn=1473889687&]]></Impression><Creatives><Creative
        id="brandads_creative_8973018" AdID="brandads_creative_8973018" sequence="1"><Linear><Duration>00:00:10</Duration><TrackingEvents><Tracking
        event="start"><![CDATA[https://beacons.brandads.net/duration?cid=24676&creative_id=8973018&line_item=13822255&er_ts=1473889687&session_id=jOJMbjaKDrxmqvyBRAgBPn1473889687&er_fp=52eeffc21e85f544&percent=0]]></Tracking><Tracking
        event="firstQuartile"><![CDATA[https://beacons.brandads.net/duration?cid=24676&creative_id=8973018&line_item=13822255&er_ts=1473889687&session_id=jOJMbjaKDrxmqvyBRAgBPn1473889687&er_fp=52eeffc21e85f544&percent=.25]]></Tracking><Tracking
        event="midpoint"><![CDATA[https://beacons.brandads.net/duration?cid=24676&creative_id=8973018&line_item=13822255&er_ts=1473889687&session_id=jOJMbjaKDrxmqvyBRAgBPn1473889687&er_fp=52eeffc21e85f544&percent=.5]]></Tracking><Tracking
        event="thirdQuartile"><![CDATA[https://beacons.brandads.net/duration?cid=24676&creative_id=8973018&line_item=13822255&er_ts=1473889687&session_id=jOJMbjaKDrxmqvyBRAgBPn1473889687&er_fp=52eeffc21e85f544&percent=.75]]></Tracking><Tracking
        event="complete"><![CDATA[https://beacons.brandads.net/duration?cid=24676&creative_id=8973018&line_item=13822255&er_ts=1473889687&session_id=jOJMbjaKDrxmqvyBRAgBPn1473889687&er_fp=52eeffc21e85f544&percent=1]]></Tracking></TrackingEvents><AdParameters><![CDATA[{"com":"cid=24676&creative_id=8973018&line_item=13822255&er_ts=1473889687&session_id=jOJMbjaKDrxmqvyBRAgBPn1473889687&er_fp=52eeffc21e85f544","clk":"https://ad.doubleclick.net/ddm/trackclk/N6344.1836134SAMSUNGELECTRONICSS/B10294605.137723828;dc_trk_aid=310057397;dc_trk_cid=74064225;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=","vDur":10,"videos":[{"url":"https://d2290ppie00mze.cloudfront.net/media/53578/109622/5d96fcec-feb2-4406-bf90-59c23a9a9d2f/3523ef7b-d775-4d61-ab41-76d24d4d4f23.mp4","mimetype":"video/mp4","duration":10}],"ssl":"1"}]]></AdParameters><VideoClicks><ClickThrough><![CDATA[https://ad.doubleclick.net/ddm/trackclk/N6344.1836134SAMSUNGELECTRONICSS/B10294605.137723828;dc_trk_aid=310057397;dc_trk_cid=74064225;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=]]></ClickThrough><ClickTracking
        id="vct"><![CDATA[https://beacons.brandads.net/click?cid=24676&creative_id=8973018&line_item=13822255&er_ts=1473889687&session_id=jOJMbjaKDrxmqvyBRAgBPn1473889687&er_fp=52eeffc21e85f544]]></ClickTracking></VideoClicks><MediaFiles><MediaFile
        type="application/x-shockwave-flash" delivery="progressive" apiFramework="VPAID"
        height="480" width="854" bitrate="1536"><![CDATA[https://d2f8tie0ouoft.cloudfront.net/player/vpaidPlayer-160811-182259.swf?cid=24676&ba_vid=8973018&creative_id=8973018&li=13822255&click=https%3A%2F%2Fad.doubleclick.net%2Fddm%2Ftrackclk%2FN6344.1836134SAMSUNGELECTRONICSS%2FB10294605.137723828%3Bdc_trk_aid%3D310057397%3Bdc_trk_cid%3D74064225%3Bdc_lat%3D%3Bdc_rdid%3D%3Btag_for_child_directed_[...]
