---
http_interactions:
- request:
    method: get
    uri: https://d.adgear.com/impressions/ext_nc/p=223348.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Realserver-Ap:
      - h019
      Last-Modified:
      - Wed, 14 Sep 2016 20:51:26 GMT
      X-Thinktime:
      - '0'
      X-Realserver-Nx:
      - h019
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <VAST version="2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vast.xsd">
            <Ad id="0135af5e-7abd-11e6-9162-782bcb66f86f">
                <InLine>
                    <AdSystem>AdGear</AdSystem>
                    <AdTitle>VAST In-Stream Video</AdTitle>
                    <Description></Description>
                    <Impression id="AdGear"><![CDATA[https://d.adgear.com/impressions/ext_witness/b=VFhOPTAxMzVhZjVlLTdhYmQtMTFlNi05MTYyLTc4MmJjYjY2Zjg2Zg**/p=223348/a=137187?AG_R=615072987]]></Impression>
                    <Impression id="ThirdParty"><![CDATA[]]></Impression>
                    <Impression id="AdGearDataProfile"><![CDATA[https://tracker.samplicio.us/tracker/4f773798-add6-45d0-bb89-f599f9f9ea33/pixel.gif?sid=SamsungIn-app_Retargeted&pid=223348&crid=137187&idfa=]]></Impression>
                    <Creatives>
                        <Creative sequence="1" AdID="137187">
                            <Linear>
                                <Duration><![CDATA[00:00:15]]></Duration>
                                <TrackingEvents>
                                    <Tracking event="start"><![CDATA[https://d.adgear.com/interactions/ext/b=VFhOPTAxMzVhZjVlLTdhYmQtMTFlNi05MTYyLTc4MmJjYjY2Zjg2Zg**/p=223348/a=137187/i=197849?AG_R=252841131]]></Tracking>
                                    <Tracking event="start" id="ThirdParty_start"><![CDATA[]]></Tracking>
                                    <Tracking event="midpoint"><![CDATA[https://d.adgear.com/interactions/ext/b=VFhOPTAxMzVhZjVlLTdhYmQtMTFlNi05MTYyLTc4MmJjYjY2Zjg2Zg**/p=223348/a=137187/i=197850?AG_R=1414712489]]></Tr[...]
